<!doctype html>
<html>
  <head>
    <title>Lewis is cool</title>
    {% load static %}
    <link href="https://raw.githubusercontent.com/literallycanvas/literallycanvas-demos/master/_assets/literallycanvas.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <style type="text/css">
      .fs-container {
        width: 500px;
        margin: auto;
      }

      .literally {
        width: 100%;
        height: 100%;
        position: relative;
      }
    </style>
  </head>

  <body>
    <div class="fs-container">
      <div id="lc"></div>
    </div>

    <!-- you really ought to include react-dom, but for react 0.14 you don't strictly have to. -->
    <script src="{https://raw.githubusercontent.com/literallycanvas/literallycanvas-demos/master/_js_libs/react-0.14.3.js"></script>
    <script src="https://raw.githubusercontent.com/literallycanvas/literallycanvas-demos/master/_js_libs/literallycanvas.js"></script>

    <script type="text/javascript">
      var lc = LC.init(document.getElementById("lc"), {
        imageURLPrefix: "https://raw.githubusercontent.com/literallycanvas/literallycanvas-demos/master/_assets/lc-images",
        toolbarPosition: 'bottom',
        defaultStrokeWidth: 3,
        strokeWidths: [1, 2, 3, 5, 30]
      });
    </script>

    <!-- export -->
    <button onclick="exportCanvasAsPNG()">Click me</button>
    <script>
      function exportCanvasAsPNG() {
        var fileName = 'test'
        var canvasElement = document.getElementById('lc').getElementsByTagName('canvas')[1]

        var MIME_TYPE = "image/png";

        var imgURL = canvasElement.toDataURL(MIME_TYPE);
        post("/external/", imgURL)

        // var dlLink = document.createElement('a');
        // dlLink.download = fileName;
        // dlLink.href = imgURL;
        // dlLink.appendChild(document.createTextNode("Hi theree and greetings!"));
        // dlLink.dataset.downloadurl = [MIME_TYPE, dlLink.download, dlLink.href].join(':');

        // document.body.appendChild(dlLink);
        // dlLink.click();
        // document.body.removeChild(dlLink);
      }

      function post(path, param, method='post') {
        const form = document.createElement('form');
        form.method = method;
        form.action = path;
        // form.textContent("{% csrf_token %}");
        // form.value("hello")
        const hiddenField = document.createElement('input');
        // hiddenField.type = 'hidden';
        hiddenField.name = "img_data";
        hiddenField.value = param;

        const token = document.createElement('input');
        token.name = "csrfmiddlewaretoken";
        token.value = "{{ csrf_token }}";
        form.appendChild(hiddenField);
        form.appendChild(token);

        document.body.appendChild(form);
        form.submit();
        // document.body.removeChild(form);
      }

    </script>
  
     <!-- <form action="/external/" method="post">
       {% csrf_token %}
       Input:
       <input type="text" name="img_data">
       {{data_external}}
       {{data1}}
       <input type="submit" value="Excecute">
     </form> -->
    
  </body>
</html>