<head>
  <title>Art of the People</title>
  {% load static %}
  <link href="{% static '/_assets/literallycanvas.css' %}" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style type="text/css">
    /* desktop only */
    @media only screen and (min-width: 500px) {
        .fs-container {
          width: 500px;
          height: 406px;
          margin: auto;
      }
    }

    .literally {
        width: 100%;
        height: 50%;
        position: relative;
        }

    h1,h2,p,a {
      font-family: Arial;
    }

    a {
      color: darkslategrey;
      text-decoration: none;
    }

    a:hover {
        color:#264040;
        }

    body {
      background-color: gainsboro;
    }
  </style>
</head>

<body>
  <center>
  <h1>Art of the People</h1>
  <div class="fs-container">
    <div id="lc" style="border: 3px solid black;"></div>
  </div>

  <!-- you really ought to include react-dom, but for react 0.14 you don't strictly have to. -->
  <script src="{% static '/_js_libs/react-0.14.3.js' %}"></script>
  <script src="{% static '/_js_libs/literallycanvas.js' %}"></script>

  <script type="text/javascript">
    var lc = LC.init(document.getElementById("lc"), {
      imageURLPrefix: "{% static '/_assets/lc-images' %}",
      toolbarPosition: 'bottom',
      defaultStrokeWidth: 3,
      strokeWidths: [1, 2, 3, 5, 30],
      backgroundColor: "#fff",
      zoomMin: 1,
      zoomMax: 1,
    });
  </script>

  <br>
<form id="my-form" autocomplete="off" style="font-size: 20px;">
  <input type="text" id="title" name="title" placeholder="Title" required/>
  <input type="text" id="artist" name="artist" placeholder="Artist" required/>
  <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
  <input type="hidden" id="img_data" name="img_data" value=""/>

  <br><br>
  <button type="submit" style="font-size: 20px;">Post</button>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  (function($){
      function processForm( e ){
          var img_data = getImgData();
          document.getElementById("img_data").setAttribute("value", img_data);

          submittedView(img_data)
          $.ajax({
              url: '/external/',
              dataType: 'text',
              type: 'post',
              contentType: 'application/x-www-form-urlencoded',
              data: $(this).serialize(),
              success: function( data, textStatus, jQxhr ){
                  $('#response pre').html( data );
              },
              error: function( jqXhr, textStatus, errorThrown ){
                  console.log( errorThrown );
              }
          });
          //clearForm();
          e.preventDefault();
      }

      function getImgData() {
        var canvasElement = document.getElementById('lc').getElementsByTagName('canvas')[1]
        var MIME_TYPE = "image/png";
        var imgURL = canvasElement.toDataURL(MIME_TYPE);
        return imgURL;
      }

      function submittedView(img_data) {
        document.getElementsByClassName("fs-container")[0].style.display = "none";
        document.getElementById("my-form").style.display = "none";

        final_drawing = document.getElementById('final-drawing');
        final_drawing.src = 'data:image/jpeg;base64,' + img_data.substr(22, img_data.length);
        document.getElementById("final").style.display = "inline-block";
      }

      function clearForm() {
        document.getElementById("img_data").setAttribute("value", '');
        document.getElementById("artist").setAttribute("value", '');
        document.getElementById("title").setAttribute("value", '');
      }

      $('#my-form').submit( processForm );
  })(jQuery);
</script>

<div id="final" style="display: none;">
  <h2>Here's your submission:</h2>
  <img id="final-drawing" style="background-color: white; border: 4px solid black; width: 95%;">
  <h2>Be patient. It'll be uploaded soon.</h2>
  <a href="https://www.instagram.com/artoftheppl/" style="font-size: medium;">@artoftheppl</a>
</div>

<footer>
  <br>
  <p>Made by <a href="https://lewisforbes.com/" target="_blank">Lewis Forbes</a></p>
  <p>Code available on <a href="https://github.com/lewisforbes/art-of-the-people" target="_blank">Github</a></p>
</footer>
  </center>

</body>
</html>